[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
matplotlib = "3.3.*"
portalocker = "*"
pyqt5 = "*"
pyqtgraph = "0.11.*"
pandas = "1.1.*"
numpy = "1.19.*"
pyinstaller = "*"
openpyxl = "*"
jinja2 = "*"
xlsxwriter = "==3.0.1"
xlwings = "*"
comtypes = "*"
kiwisolver = "1.2.*"

[dev-packages]
autopep8 = "*"
ipython = "*"
pyqt5-tools = "*"
time-machine = "*"

[scripts]
repl = "python app/repl.py"
test = "python -m unittest discover"
main = "python -m app.main"
designer = "qt5-tools designer"
gen-resource = "pyrcc5 app/gui/resources.qrc -o app/gui/resources.py"
