[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
matplotlib = "*"
portalocker = "*"
pyqt5 = "*"
pyqtgraph = "*"
pandas = "*"
numpy = "*"
pyinstaller = "*"

[dev-packages]
autopep8 = "*"
ipython = "*"
pyqt5-tools = "*"
time-machine = "*"

[requires]
python_version = "3.9"

[scripts]
repl = "python app/repl.py"
test = "python -m unittest discover"
main = "python -m app.main"
designer = "qt5-tools designer"
